.screen{
 
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 100px;
}

.btn{
    width: 100%;
}
form{
    /* margin-left: 150px; */
    /* width: 70%; */
    /* height: 100%; */
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: transparent;
    /* border-radius: 0.2em ; */
    border-radius: 10px;
    border: 2px solid  rgb(205, 210, 213) ;
    margin-bottom: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.form-label{
    color: rgb(81, 79, 79);
}

  