 /*card count*/
 .card-counter{
  box-shadow: 2px 2px 10px #DADADA;
  margin: 5px;
  padding: 20px 10px;
  background-color: #fff;
  height: 100px;
  border-radius: 5px;
  transition: .3s linear all;
}

.card-counter:hover{
  box-shadow: 4px 4px 20px #DADADA;
  transition: .3s linear all;
}

.card-counter.primary{
  background-color: #007bff;
  color: #FFF;
}

.card-counter.danger{
  background-color: #ef5350;
  color: #FFF;
}  

.card-counter.success{
  background-color: #66bb6a;
  color: #FFF;
}  

.card-counter.info{
  background-color: #26c6da;
  color: #FFF;
}  

.card-counter i{
  font-size: 5em;
  opacity: 0.2;
}

.count-numbers{
  position: absolute;
  
  
}

.card-counter .count-name{
  position: absolute;
  padding-top:20px;
  font-style: italic,bold;
  text-transform: capitalize;
  opacity: 1;
  display: block;
  font-size: 18px;
  color:#000
}

/* count style end */

#dboard{
  color: #191919;

}
body {
    font-size: .875rem;
  }
  

.table thead tr {

  color: #fff;
  background:#000;
  width: 33px;


}

.table th,
.table td {
  padding: 0.5rem;
  text-align: left;
  vertical-align: middle;

}

.table tbody tr:nth-child(odd) {
  background-color: #fff;
  height: 60px;
  width: 33px;
  font-size: 15px;
  font-weight: 500;
  font-family: sans-serif;
  /* align-content: center; */
}

table tbody tr:nth-child(even) {
  height: 60px;
  width: 33px;
  font-size: 15px;
  font-weight: 500;
  font-family: sans-serif;
}


.table {
  border: 1px solid rgb(205, 227, 192); 
}
/* .tabf{
  padding: auto;
  justify-content: center;
} */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;

}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.nav-link:hover {
  cursor: pointer;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;

}
.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
/* th:nth-child(8), td:nth-child(8) {
  position: relative;
} */

.button-wrapper {
  position: static;
  /* top: 80%; */
  /* transform: translateY(-10%); */
  width: 120px;

}

.edit-button {
  /* background-color: #ffc107; */
  border: 1px  white;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  /* color: beige; */
  color: rgb(40, 33, 33);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  position: static;
  width: 100%; /* make the button fill the wrapper */

}
/* .button-wrapper.placed {
  background-color: green;
}

.job-seeking.button-wrapper {
  background-color: yellow;
}

.not-interested.button-wrapper {
  background-color: red;
} */
