
<app-learner-header></app-learner-header>
<body style="padding-bottom: 100px;">
    

<h2 style="text-align: center;margin-top: 100px ;color: white;" >Courses</h2>


<div class="row row-cols-1 row-cols-md-2 g-4" id="main" style="margin-top: 200PX;">
    <div class="col">

      <div class="card">
        <img src="../../../assets/fsd.jfif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">FSD</h5>
          <p class="card-text">Full Stack Development is a software profession/stream where a developer
            deals with  both the Frontend (client-side) and Backend (server-side) of a tech product.
            Build full-stack apps using technologies like REST APIs, MVC, and databases like MongoDB.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../../assets/dsa.jfif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">DSA</h5>
          <p class="card-text">This DSA online course is specifically designed for beginners, 
            whether it be students or working professionals,
         who want to learn the Data Structures and Algorithms concepts from basic to the advanced level. </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../../assets/ml.jfif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ML-AI</h5>
          <p class="card-text">Artificial intelligence is one of the fastest-growing and
             most exciting fields in computer science today
             You'll learn about the latest AI research, algorithms, and applications, and gain hands-on 
             experience with cutting-edge tools and techniques.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../../assets/rpa.jfif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">RPA</h5>
          <p class="card-text">The Robotic Process Automation (RPA) specialization offers comprehensive knowledge and professional-level skills focused on developing and
             deploying software robots. It starts with the basic concepts of 
             Robotic Process Automation.  </p>
        </div>
      </div>
    </div>
  </div>
</body>
 