.screen{
 
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 100px;
}

.form{
    background-color: #fff;
    /* background-color: transparent; */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top:80px;
    margin-bottom: 100px;
}
.btn{
    width: 100%;
}