
body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
  }
 
  .navbar-brand,.nav-link, .nav-link.active{
    color:rgb(1, 6, 10);
  }
  .navbar-brand img {
    width: 100px;
    height: 90px; /* maintains aspect ratio */
  }
  .container-fluid{
    height: 80px;
  }
  