
<footer class="footer sticky-footer">
  <div class="l-footer">
  <h4>
  ICTAK Learner Tracker</h4>
  <p>
    Project built under the mentorship of ICT Academy, Kerala as a part of the MEAN stack development course, Batch-December 2022-May 2023  Contributors @Amal Ashraf @Parvathi L @Neena Mathew. Credited to ICT Academy of Kerala to use the links associated with this institution.</p>

  </div>
  <ul class="r-footer">
  <li>
    <h2>
  Social</h2>
  <ul class="box">
  <li><a href="https://www.facebook.com/ictkerala/">Facebook</a></li>
  <li><a href="https://twitter.com/ictakerala">Twitter</a></li>
  <li><a href="https://in.pinterest.com/3d2c834e6c38e188490876608ae0f3/">Pinterest</a></li>

  </ul>
  </li>
  <li class="features">
    <h2>
  Information</h2>
  <ul class="box">
  <li><a href="https://ictkerala.org/">Official Website of ICT Academy of Kerala</a></li>
  <li><a href="https://retail.ictkerala.org/">Courses</a></li>
  <!-- <li><a href="#">Pricing</a></li>
  <li><a href="#">Sales</a></li>
  <li><a href="#">Tickets</a></li>
  <li><a href="#">Certifications</a></li>
  <li><a href="#">Customer Service</a></li> -->
  </ul>
  </li>
  <li>
    <h2>
  Legal</h2>
  <ul class="box">
  <li><a href="#">Privacy Policy</a></li>
  <li><a href="#">Terms of Use</a></li>
  <li><a href="#">Contract</a></li>
  </ul>
  </li>
  </ul>
  <div class="b-footer">
  <p>
  All rights reserved by ©ICT Academy of Kerala 2023</p>
  </div>
  </footer>

