<!--
<div class="container-fluid" style="margin-top:100px ; height:100%;">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block  sidebar" style="background-color:rgb(210, 230, 244);">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
           <br>  <br>
          <li class="nav-item">
            <a class="nav-link" routerLink="addone">
              <span data-feather="file"></span>
               Add Form
            </a>
          </li> <br>
          <li class="nav-item">
            <a class="nav-link" routerLink="addcsv">
              <span data-feather="shopping-cart"></span>
              Upload File
            </a>
          </li>

        </ul>
      </div>
    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4" style="background-image: url('../../assets/images/acqua.jpg');background-size: cover;">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2"  style="color:white;">ADD LEARNER</h1>
      </div>
      <router-outlet></router-outlet>
      <canvas class="my-4 w-100" id="myChart" width="900" height="380"  ></canvas> -->

      <app-placementheader></app-placementheader>
      <div class="screen" style="background-image: url('../../assets/bg1.webp');background-size: cover;" >

        <div class="container">
          <div class="row justify-content-center mt-2 pt-5  ">
              <div class="col-6">
                  <form  [formGroup]="addplacementstatusForm" >

                    <h5 style="text-align: center;color:rgb(17, 0, 0)">UPDATE PLACEMENT STATUS</h5>

                    <div class="mb-3">
                      <label for="formGroupExampleInput" class="form-label">Learner Id</label>
                      <input type="text" class="form-control" id="formGroupExampleInput"formControlName="learnerid"  >
                    </div>
                    <div class="mb-3">
                      <label for="formGroupExampleInput2" class="form-label">Name</label>
                      <input type="text" class="form-control" id="formGroupExampleInput2" formControlName="name"   >
                    </div>



                    <div class="mb-3">
                      <label for="formGroupExampleInput" class="form-label">Placement Status</label>
                      <select class="form-select" aria-label="Default select example"formControlName="placementstatus">
                        <option selected></option>
                        <option value="Placed">Placed</option>
                        <option value="Job Seeking">Job Seeking</option>
                        <option value="Not Intrested">Not Intrested</option>
                      </select>
                    </div>
                   <br>
                    <button type="submit" class="btn btn-primary" (click)="addstatusplacement()">Submit</button>

                  </form>
              </div>

          </div>
        </div>
        </div>
